{% extends 'bookshelf/base.html' %}
{% block content %}
<h2 class="mb-4">List books</h2>

{% if perms.bookshelf.can_create %}
    <a href="{% url 'book_create' %}" class="btn btn-primary mb-3">Create Book</a>
{% endif %}

<table class="table table-bordered bg-white">
    <thead class="table-dark">
        <tr>
            <th>title</th>
            <th>author</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>
                {% if perms.bookshelf.can_edit %}
                    <a href="{% url 'book_edit' book.id %}" class="btn btn-warning btn-sm">edit</a>
                {% endif %}
                {% if perms.bookshelf.can_delete %}
                    <a href="{% url 'book_delete' book.id %}" class="btn btn-danger btn-sm">delete</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="3"> Not found any book </td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
